.nav_container {
  font-size: 14px;
  background-color: #050018;
  position: relative;
}

.nav_content {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.navlink {
  padding: 5px;
  margin: auto 0;
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.resume_button {
  padding: 8px;
  border: 1px solid #1d7fd9;
  color: #1d7fd9;
  transition: 0.5s;
}

.navlink:hover {
  scale: 1.3;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #1d7fd9, 0 0 25px #1d7fd9,
    -10px 0 30px #1d7fd9, 10px 0 30px #1d7fd9;
}

.resume_button:hover {
  box-shadow: 0 0 5px white;
  color: white;
  border: 1px solid white;
}

/* @keyframes glow {
  from {
    text-shadow: 0 0 0px #fff, 0 0 10px #fff, 0 0 20px #1d7fd9, 0 0 30px #1d7fd9,
      0 0 40px #1d7fd9, 0 0 50px #1d7fd9, 0 0 60px #1d7fd9;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #1d7fd9, 0 0 30px #1d7fd9,
      0 0 40px #1d7fd9, 0 0 50px #1d7fd9, 0 0 60px #1d7fd9, 0 0 70px #1d7fd9;
  }
} */

@media screen and (min-width: 768px) {
  .nav_content {
    margin-right: 0;
  }
}
