.footer_container {
  position: relative;
  text-align: center;
  max-width: 650px;
  margin: auto;
  padding: 0 20px;
}

.header {
  font-size: 56px;
  color: #1d7fd9;
  margin: auto;
}

.contact_text {
  margin: 50px auto 70px;
}

.email_button {
  padding: 8px 10px;
  border: 2px solid #1d7fd9;
  transition: 0.5s;
}

.email_button:hover {
  box-shadow: 0 0 5px white;
  color: white;
  border: 1px solid white;
  transition: 0.5s;
  font-size: 1.5em;
}

.built_text {
  margin: 80px auto 5px;
}
