.projects_section {
  margin: 100px auto;
}

.all_projects_container {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  padding: 85px 0 20px;
  position: relative;
  margin: 0 auto 100px;
}

.individual_project_container {
  scroll-snap-align: center;
  width: calc(100vw - 40px);
  max-width: 450px;
  height: 100%;
  margin: 0 40px;
  flex-shrink: 0;
  padding: 90px 30px 60px;
  background-color: #130c3af1;
  border: 2px solid #1d7fd9;
  border-radius: 10px;
  position: relative;
  transition: 0.4s;
}

.project_image_container {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: black;
  border: 3px solid white;
  border-radius: 50%;
  top: -60px;
  left: 30px;
  padding: 33px 0 0 22px;
}

.project_name {
  color: #1d7fd9;
  margin-bottom: 20px;
}

.project_description {
  margin: 10px 0;
  font-size: 16px;
}

.project_languages_container {
  margin: auto auto 0;
  display: flex;
  position: absolute;
  bottom: 20px;
  overflow-x: hidden;
  width: 75%;
  /* justify-content: space-between; */
}

.project_language {
  font-size: 13px;
  margin: 0;
  padding-right: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.project_icons_container {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
}

.project_icon {
  display: inline-block;
  padding: 0 5px;
}

.swipe_icon {
  position: relative;
  display: block;
  margin: 40px auto;
}

.show_more_button {
  display: none;
}

.my_languages_container {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #050018cc;
  padding: 10px 10vw;
  max-width: 1500px;
  margin: auto;
}

.my_language {
  max-width: 100px;
  width: 10vw;
}

@media screen and (min-width: 530px) {
  .all_projects_container {
    width: 530px;
  }

  .individual_project_container:hover {
    transform: scale(1.1);
    transition: 0.4s;
  }

  .individual_project_container {
    /* margin: auto 25px; */
  }
}

@media screen and (min-width: 768px) {
  .swipe_icon {
    display: none;
  }

  .all_projects_container {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 1fr;
    gap: 85px 0;
    width: 100vw;
  }

  .individual_project_container {
    width: calc((100vw / 2) - 80px);
    margin: auto 40px;
  }
}

@media screen and (min-width: 1020px) {
  .all_projects_container {
    grid-template-columns: 450px 450px;
    gap: 85px 40px;
    width: 1020px;
  }

  .individual_project_container {
    margin: auto 40px;
  }

  /* .show_more_button {
    display: block;
    position: relative;
    margin: 40px auto;
    padding: 10px;
    border: 2px solid #1d7fd9;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 1rem;
  } */
}

@media screen and (min-width: 1510px) {
  .swipe_icon {
    display: none;
  }

  .all_projects_container {
    width: 1510px;
    grid-template-columns: 450px 450px 450px;
  }
}
