.about_container {
  position: relative;
  margin: 100px auto;
  padding: 0px 20px;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about_content {
  margin: auto auto 60px;
  max-width: 400px;
}

.header {
  color: #1d7fd9;
  font-style: italic;
  padding-left: 20px;
  font-size: 36px;
  margin-bottom: 25px;
}

.about_text {
  margin: 15px 0;
  font-size: 16px;
}

.about_image {
  margin: auto;
  width: 65%;
}

@media screen and (min-width: 768px) {
  .about_container {
    flex-direction: row;
  }

  .about_content {
    margin: auto 40px auto auto;
    max-width: 40%;
  }

  .about_image {
    width: 50%;
    max-width: 450px;
    margin-left: 40px;
  }
}
