.about_container {
  color: white;
  clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
  padding: 100px 20px 60px;
  /* background-color: rgb(1, 14, 130); */
  background-color: rgba(20, 31, 138, 0.852);
  color: rgba(255, 255, 255, 0.728);
}

.about_content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.865);
}

.about_text {
  padding: 20px 0 20px;
}

.header {
  color: white;
}

.about_image {
  margin: auto;
  width: 400px;
}

@media screen and (min-width: 768px) {
  .about_container {
    flex-direction: row-reverse;
  }

  .about_content {
    margin: auto;
    width: 475px;
  }

  .about_image {
    width: 350px;
    margin: auto 30px;
  }
}
